 <h2>Categories</h2>
<nav>
          <ul id="navigation">
              <li><a href="/purple">Purple</a></li>
              <li><a href="/blue">Blue</a></li>
              <li><a href="/red">Red</a></li>
          </ul>
        </nav>
